:root {
    --indigo: #8540F5;
    --pink: #d63384;
    --pink2: #f759a8;
    --teal: #20c997;
    --white: #fff;

    --selected: #ddd;
    --close-button: #f78501;
    --checked-bg: #276678;
}

* {
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    background-color: #d6cfcf;
}

/* text colors */

.text-pink {
    color: var(--pink);
}

.text-teal {
    color: var(--teal);
}

/* bg-color */

.bg-teal {
  background-color: var(--teal);
}

input {
    width: 80% !important;
}

/* button  */

.btn {
    background-color: var(--indigo);
}

.btn:hover {
    background-color: var(--indigo);
    color: #333;
}

.btn:focus, .btn:active {
    border: none;
    background-color: var(--indigo);
}

/* list */

ul li {
  padding-left: 50px !important;
  
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

ul li:nth-child(odd) {
  background-color: var(--pink)
}

ul li:nth-child(even) {
    background-color: var(--pink2);
}

ul li:hover {
  background-color: var(--selected);
}

ul li.checked {
  position: relative;
  background: var(--checked-bg);
  color: var(--white);
  text-decoration: line-through;
}

ul li.checked::before {
  content: "";
  position: absolute;
  border-color: var(--white);
  border-style: solid;
  border-width: 0 2px 2px 0;
  top: 10px;
  left: 16px;
  transform: rotate(45deg);
  height: 15px;
  width: 7px;
}

/* close button */

.close {
  position: absolute;
  right: 0;
  top: 0;
  padding: 12px 16px 12px 16px;
}

.close:hover {
  background-color: var(--close-button);
  color: var(--white);
}